/*much help from w3 css schools*/
tr {
    padding: 15px;
    
    
    
}
td{
    width: 100px;
    height: 100px;
    border: dotted;
    border-color: Azure;
    background: LightSkyBlue;
    text-align: left;
    vertical-align: top;
    border-collapse: collapse;
}
button{
    background: Azure;
    padding: 10px 24px;
    border-radius: 12px;
    display: inline-block;
}

button:hover {
    background-color: White; /* Green */
    padding: 10px 24px;
    border-radius: 12px;
    display: inline-block;
}