/*much help from w3 css schools*/
tr {
    padding: 15px;
    
    
    
}
td{
    width: 100px;
    height: 100px;
    border: dotted;
    border-color: Azure;
    background: LightSkyBlue;
    text-align: left;
    vertical-align: top;
    border-collapse: collapse;
    font-size: 20px;
}
button{
    background: Azure;
    padding: 10px 24px;
    border-radius: 12px;
    display: inline-block;
}

button:hover {
    background-color: White; 
    padding: 10px 10px;
    border-radius: 12px;
    display: inline-block;
}
#addEvent {
    display:none;
}
#viewEvents {
    display:none;
}
#addUser {
    display: none;
}
th{
    font-size: 20px;
}
.eventdisplay {
    font-size: 12px;
}
.hide {
    font-size: 12px;
    color: LightSkyBlue;
}
.event_text{
    font-size: 12px;
    
}
/*http://stackoverflow.com/questions/18147887/html-layout-adding-sidebar-column-to-existing-site popout for event view*/